body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}

.list-container {
  margin-top: 10%;
  width: 500px;
  list-style: none;
  font-size: 15px;
  font-weight: 100;
  padding: 0;
  border: 0.5px solid rgb(172, 172, 172);
}

.list {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  height: 40px;
  border-bottom: 1px solid rgb(150, 150, 150);
  text-align: left;
  align-items: center;
  padding-left: 10px;
}

#refresh {
  width: 10%;
  border: none;
  background-color: white;
}

.reIcon {
  font-size: 15px;
  color: gray;
}

input {
  font-family: cursive !important;
  font-size: 15px;
}

#title {
  font-weight: 100;
  margin: 0;
  width: 90%;
}

form {
  width: 100%;
  display: flex;
  height: 100%;
}

#add-item {
  width: 90%;
  border: none;
}

#add-item:checked {
  width: 90%;
  border: none;
}

#submit {
  width: 10%;
  border: none;
  background-color: white;
}

#subIcon {
  font-size: 15px;
  color: gray;
}

/* -------- Item List ------ */
.check {
  cursor: pointer;
  width: 5%;
  height: 16px;
}

.itemText {
  display: none;
  padding-left: 8px;
  width: 85%;
}

.editText {
  display: none;
  width: 85%;
  height: 85%;
  border: none;
  background-color: transparent;
}

.btn-dots {
  display: none;
  border: none;
  background-color: transparent;
}

.btn-dots:hover {
  cursor: pointer;
}

.btn-save {
  display: none;
  font-size: 14px;
  font-weight: 900;
  font-family: cursive;
  color: rgb(5, 114, 25);
  border: none;
  margin-top: 2px;
  background-color: transparent;
}

.btn-close {
  display: none;
  border: none;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.dots {
  font-size: 20px;
  color: gray;
}

.close {
  font-size: 26px;
  font-family: cursive;
  color: rgb(224, 12, 12);
}

.visible {
  display: inline;
}

.editTask {
  background-color: rgba(245, 245, 73, 0.347);
}

/* --- CLEAR ---- */
.itemClear {
  border-bottom: none;
  padding: 0;
}

#clear {
  width: 100%;
  height: 100%;
  border: none;
  color: gray;
  font-size: 15px;
  font-family: cursive;
  cursor: pointer;
}
